In [6]:
import psycopg2 as pg

# Passo 0 - Set Credentials

In [29]:
# Credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

# Passo 1 - Criar conexão - conn

In [49]:
conn = pg.connect( user=username,
                   password=pwd,
                   host=host,
                   port=port,
                   database=database )

# Passo 2 - Criar cursor 
**Cursor é um ponteiro que vai apontar para onde estão meus dados, após isso podemos criar as queries**

In [41]:
cursor = conn.cursor()

# Passo 3 - Criação/execução das queries
**SEMPRE FECHAR A CONEXÃO APÓS USO DO DATABASE**

In [42]:
query_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname = 'pa004'
"""

cursor.execute(query_tables)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

# Collect Data using Psycopg2

In [45]:
cursor = conn.cursor()

query_table_users = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

cursor.execute(query_table_users)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

[(2, 'Male', 76, 3.0, 26.0), (3, 'Male', 47, 28.0, 26.0), (8, 'Female', 56, 28.0, 26.0), (11, 'Female', 47, 35.0, 124.0), (14, 'Male', 76, 28.0, 13.0), (15, 'Male', 71, 28.0, 30.0), (20, 'Female', 60, 33.0, 124.0), (21, 'Male', 65, 28.0, 124.0), (22, 'Male', 49, 28.0, 124.0), (27, 'Female', 51, 28.0, 124.0)]

In [46]:
import pandas as pd

# Collect Data using Pandas

In [53]:
query_table_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON ( u.id = v.id)
                       LEFT JOIN pa004.insurance i ON ( u.id = i.id)
"""

In [56]:
df = pd.read_sql(query_table_users,conn)
df = df.drop(df.columns[[5,9]],axis=1)

df.shape

/home/vander/.pyenv/versions/3.10.1/envs/cross-sell/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

(381109, 11)

In [60]:
df.sample(15)

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
326320,Male,52,41.0,26.0,1,1-2 Year,Yes,0,35772.0,240,1
134549,Male,54,11.0,26.0,1,1-2 Year,No,1,43641.0,164,0
186539,Male,29,45.0,157.0,1,1-2 Year,Yes,0,26082.0,24,0
268345,Male,76,28.0,26.0,1,1-2 Year,No,1,50472.0,89,0
100662,Female,44,28.0,26.0,1,> 2 Years,Yes,0,2630.0,167,1
317251,Female,24,21.0,152.0,1,< 1 Year,No,1,30818.0,244,0
7887,Male,51,28.0,122.0,1,1-2 Year,Yes,0,50179.0,119,0
62757,Female,46,28.0,124.0,1,1-2 Year,Yes,0,30449.0,36,0
279162,Female,66,28.0,124.0,1,1-2 Year,No,1,45464.0,254,0
376415,Female,27,28.0,152.0,1,< 1 Year,No,1,38590.0,107,0
304812,Female,30,15.0,152.0,1,< 1 Year,No,1,23376.0,139,0
254088,Male,57,28.0,26.0,1,1-2 Year,Yes,0,36721.0,91,0
58675,Female,48,28.0,26.0,1,1-2 Year,No,1,29605.0,42,0
77340,Female,49,28.0,26.0,1,1-2 Year,Yes,0,43855.0,275,0
350720,Female,62,29.0,124.0,1,1-2 Year,Yes,0,22828.0,80,0